body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.blob{
    color:lightsteelblue;
    font-size: 30px;
    font-weight: 10;
    text-align: center;
}
.hartmann{
    color: cadetblue;
    text-align: center;
}

.hela{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: cadetblue;
    margin: 0;
    padding: 5px;
    font-family: fantasy;
    display: flex;
}
.hela, .uperbar{
    vertical-align: middle;
}
.blib{
    color: lightsteelblue;
    font-size: 30px; 
    text-align: center;  
}
.blab{
    color:cadetblue;
    text-align: center;
}
.uperbar{
    margin-left: auto;
    align-self: center;
    display: flex;
    gap: 10px;
}
.uperbar a{
    color: aliceblue;
    font-family: serif;
    text-decoration: none;
}
.uperbar a:hover{
    color: blue;
}
.bleb{
    width: 70%;
    height: auto;
    display: flex; 
}